.container {
  position: relative;
  z-index: 2;
}
.container h1 {
  margin: .9em 0 .5em 0;
  letter-spacing: 2px;
}
.container p {
  font-weight: 700;
}
.container ul {
  list-style: none;
  padding-left: 0;
  color: lightblue;
  font-weight: 700;
}
.container ul li {
  margin-bottom: 10px;
}
.headerBtn {
  color: primary;
  font-weight: 500;
  pointer-events: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  position:absolute;
  right:0;
  top:10px;
}
.socialIcon {
  border: none;
  padding: 10px;
  position:absolute;
  right:0;
  top:30px;
  justify-content: space-evenly;
  vertical-align: middle;
}
.headerIcon {
  color: lightgray;
}